.outerContainer {
  display: table;
  width: 100%;
  height: 100%;
}
.main-content {
  /* display: table-cell; */
  width: calc(100% - 250px);
  min-height: 100vh;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .outerContainer {
    display: block;
  }
  .main-content {
    width: 100%;
  }
}
